html
  head
    title my webpage
    style 
      include style.css 

  body
    div(style="text-align:center;background-color:lightblue;height:35mm;width:100%;padding:15px ") 
       h1(style="") Login and Registration Application
    
       
       a(href="login") Login 

       a(href="register") Register
    